h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
p,
a,
li {
  font-family: var(--font-secondary);
}

span {
  font-family: var(--font-secondary);
}

.title-section {
  color: var(--color-text-title);
  text-align: center;
  font-size: var(--text-4xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height));
  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
}

.subtitle-section {
  color: var(--muted-foreground);
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
  margin-top: calc(var(--spacing) * 2);
}
