:root {
  /* DIANA IMÓVEIS VARIABLES */
  --text-primary: #ffffff;
  --text-secondary: hsla(0, 0%, 100%, 0.8);
  --text-paragraph: #626d84;
  --text-title: #142952;

    --text-paragraph: #626d84;
  --text-title: #142952;
  --text-tag: #ebbd36;
  --bg-tag: #f7f4e6;

  --surface-base: #f9fafb;
  --surface-muted: #f5f7f8;

  --gradient-hero-from: hsl(220, 60%, 20%);
  --gradient-hero-via: hsl(219, 52%, 39%);
  --gradient-hero-to: hsl(220, 66%, 18%);

  --bg-hero: #142952;

  --action-primary: #f1c644;
  --action-primary-hover: #e0b639;

  /* DASHBOARD VARIABLES */
  --soft-primary-custom: #018493;
  --default-navlink: #447c9c;
  --default-hover-navlink: #79c6d7;
  --bg-selected: #185e7a;
  --bg-selected-hover: #0b79a5;
  --bg-dark-blue: #0f2936;
  --bg-dark-blue-hover: #0a222e;

  --gradient-primary: linear-gradient(
    135deg,
    hsl(198 76% 23%) 0%,
    hsl(186 100% 29%) 100%
  );

  --gradient-primary-hover: linear-gradient(
    135deg,
    hsl(198, 76%, 13%) 0%,
    hsl(186 100% 29%) 100%
  );
}
