:root {
  --soft-primary-custom: #018493;
  --default-navlink: #447c9c;
  --default-hover-navlink: #79c6d7;
  --bg-selected: #0e4c67;
  --gradient-primary: linear-gradient(
    135deg,
    hsl(198 76% 23%) 0%,
    hsl(186 100% 29%) 100%
  );
}
